nav.navbar-light {
  font-family: 'Kaushan Script', cursive;
  
  background-color: $cream;
  color: $gray-800;

  a {
    font-weight: 500;
    color: $gray-800;
  }
  a:hover {
    background: none;
    color: rgba($gray-800, .8);
  }
}
