//# Parallax
// La imagen se asignará en el YAML Front Matter.
//# ---------------------------------------------------------------------
.parallax {
  /* Crear el efecto parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Desactivar en móviles */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}
